<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a New Trip</title>
  </head>
  <body>
    <h1>Add a New Trip</h1>

    <form action="/trips" method="POST">

      <label for="date">Date: </label> <input type="text" name="date"><br><br>

      <label for="rider_id">Rider Name</label>
      <select name="rider_id">
        <% Rider.all.each do |rider| %>
        <option value="<%= rider.id %>"><%= rider.first_name %> <%= rider.last_name %> </option>
        <% end %>
      </select>
      <br><br>

      <label for="scooter_id">Scooter</label>
      <select name="scooter_id">
        <% Scooter.all.each do |scooter| %>
        <option value="<%= scooter.id %>"><%= scooter.name %></option>
        <% end %>
      </select>
      <br><br>

      <label for="pick_up_loc">Pick Up Location</label> <input type="text" name="pick_up_loc"><br><br>
      <label for="drop_off_loc">Drop Off Location</label> <input type="text" name="drop_off_loc"><br><br>
      <label for="mileage">Mileage: </label> <input type="text" name="mileage"><br><br>
      <input type="submit" values="Create Trip">
    </form>
  </body>
</html>
